.info {
    padding: 7rem;
    margin-top: 8rem;
    //background-color: var(--color-gray-opacity-02);
    transition: all .2s;
    border-radius: $radius;
    position: relative;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    grid-gap: 5rem;

    @include respond($small) {
        border-radius: $radius-small;
        margin-top: 5rem;
        padding: 3rem;
        background-color: transparent;
        grid-row-gap: 5.9rem;
    }

    @include respond($tiny) {
        padding: 0rem 2rem;
    }

    .body--dark-mode & {
        --color-primary-lightest: #303030;
    }

    &__box {
        display: grid;
        grid-row-gap: 1.7rem;
        grid-template-rows: repeat(3, min-content);
        justify-items: center;
        align-items: center;
        grid-column-gap: 1.5rem;
        text-align: center;

        @include respond($small) {
            grid-row-gap: 1.2rem;
        }
    }

    &__svg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 17rem;
        width: 17rem;
        border-radius: 100%;
        margin-bottom: 1.3rem;
        background-color: var(--color-primary-lightest);

        @include respond($small) {
            height: 15rem;
            width: 15rem;
            margin-bottom: 1rem;
        }

        
        & svg {
            padding: .3rem;
            display: block;
            width: 40%;
            height: 40%;
            fill: var(--color-primary-dark);
        }
    }

    &__heading h3 {
        color: var(--color-secondary-dark);
    }

}