.tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    grid-gap: 5rem;
    width: 100%;

    &__tile {
        display: grid;
        grid-template-rows: 20rem min-content max-content 1fr max-content;
        font-family: $reading-font;
        font-size: 1.6rem;

        border-radius: $radius-small;
    }

    &__img {
        display: grid;
        position: relative;
        z-index: 10;
        overflow: hidden;
        border-radius: $radius-small;
        
        img {
            width: 100%;
            filter: brightness(70%);
        }
    }

    &__heading {
        text-align: center;
        background-image: linear-gradient(to right bottom, var(--color-primary-lightest), var(--color-primary-light));
        border-radius: 0 0 $radius-small $radius-small;
        padding: 3.1rem 3.5rem 1.9rem;
        width: 100%;
        transform-origin: bottom;
        transform: scaleY(1.2);

        & > * {
            transform: scaleY(.8344);
        }
    }

    &__tags {
        display: grid;
        justify-self: start;
        grid-template-columns: repeat(2, min-content);
        grid-gap: 1rem;
    }

    // sourse code and view button
    &__buttons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16rem, max-content));
        grid-gap: 1rem;
        align-self: end;
        align-items: stretch;
        margin-top: 2.1rem;

        & > * > * {
            justify-self: stretch;
        }
    }
}